<div class="uk-container uk-container-xsmall">
	<h3 class="uk-text-capitalize">NG Boilerplate</h3>
	<h2>Lazy Loading</h2>
	<p>
		The application uses lazy-loading, which means the module isn’t loaded before the user actually accesses the route. 
	</p>

	<h2>The Shared Module</h2>
	<p>
		The SharedModule is where any shared components, pipes/filters and services should go. The SharedModule can be imported in any other module when those items will be re-used. The shared module shouldn’t have any dependency to the rest of the application and should therefore not rely on any other module.
	</p>
</div>

